encryption = "age"

[data.user]
  name = "Thiago Belem"
  email = "github@thiagobelem.net"
  signingkey = "028AF22A87FBDB3F"

[age]
  identity = "~/key.txt"
  recipient = "age145nvk59vxah5qqfnfwkqz53z2qmr56tqsu5k0l96jnssnqcy0dfqeq89kc"

[diff]
  pager = "diff-so-fancy"

[merge]
  command = "nvim"
  args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]

[git]
  autoCommit = true
  autoPush = true
