[user]
  name = "{{ .user.name }}"
  email = "{{ .user.email }}"
  signingkey = {{ .user.signingkey }}

[commit]
  gpgsign = true

[pull]
  rebase = true
  autostash = true

[rebase]
  autoStash = true
  instructionFormat = (%an <%ae>) %s
  autoSquash = true

[core]
  pager = diff-so-fancy | less --tabs=4 -RFX

[interactive]
  diffFilter = diff-so-fancy --patch
[add "interactive"]
  useBuiltin = false

[init]
  defaultBranch = master
