[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}
  signingkey = 028AF22A87FBDB3F

[pull]
  rebase = true
  autostash = true

[rebase]
  autoStash = true
  instructionFormat = (%an <%ae>) %s
  autoSquash = true

[core]
  pager = diff-so-fancy | less --tabs=4 -RFX

[interactive]
  diffFilter = diff-so-fancy --patch
